/* Overall header background */
.header {
    background-color: #005F73; /* Set background color */
    background: linear-gradient(to right, #000000 0%, #2c2b2b 100%);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

/* Navbar brand and logo positioning */
.header .navbar-brand {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.5rem;
    color: #00FFFF; /* White color for logo and name */
}

.header img {
    margin-right: 10px;
}

/* Navbar items position: Align logo and name to the left and menu items to the right */
.navbar-nav {
    margin-left: auto; /* Push menu items to the right */
}
/* Custom style for the navbar toggler icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28155, 155, 155, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    filter: brightness(0) invert(1); /* Makes the icon white */
  }
  
  /* Ensure the button background is transparent */
  .navbar-toggler {
    border: none;
    background-color: transparent !important;
  }
  
  /* Mobile-specific styles */
  @media (max-width: 768px) {
    .navbar-toggler {
      color: white;
    }
  }
  

/* For mobile view, background color for the offcanvas menu */
@media (max-width: 991px) {
    .offcanvas {
        background-color: #005F73; /* Same background color for mobile menu */
    }

    .offcanvas .navbar-nav .nav-link {
        color: #000 /* White color for nav links */
    }

    .offcanvas .navbar-nav .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.2); /* Add hover effect */
        color:#66F9F9;
    }

    /* Change the navbar toggler color */
    .navbar-toggler-icon {
        /* background-color: #fff; White hamburger icon */
        border:none;
        outline:none;
        color:#fff;
    }
}

/* Navbar items color and hover effect */
.navbar-nav .nav-link {
    color: #00FFFF; /* White color for nav links */
    padding: 10px 15px;
}

.navbar-nav .nav-link:hover {
    color:#66F9F9; /* Hover effect */
}

/* Fixed navbar style */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure the navbar stays on top */
    top: 0;
    left: 0;
    padding: 10px 0; /* Add some padding for the navbar */
}

/* Ensure the content below the navbar doesn't get hidden */
body {
    padding-top: 70px; /* Adjust depending on the navbar height */
}
